.custom-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 4px 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 12.5px;
    /* Ajuste del borde de la tarjeta */
    transition: transform 0.2s;
}

.custom-card:hover {
    transform: translateY(-5px);
}